<div style="margin: 20px; padding: 20px;">
  <div  style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
    Test Your Internet Speed
  </div>

  <div>
    <div style="
            margin-left: auto;
            margin-right: auto;
            min-width: 1px;
            max-width: 280px;
         ">
      <div>
        <label>Iterations</label>&nbsp;
        <input matInput
               type="number"
               [min]="1"
               [max]="100"
               [(ngModel)]="iterations"
               [disabled]="isTracking"/>
      </div>

      <button mat-raised-button
              style="margin-left: 10px;"
              (click)="trackSpeed()"
              [disabled]="isTracking">
        {{ isTracking ? 'Tracking' : 'Track' }}
      </button>
    </div>

    <div *ngIf="hasTracked || isTracking"
         style="margin: 10px 10px 10px 20px;">
      <p style="float: right; margin-bottom: 3px;">{{ speeds[0] }} MBPS</p>

      <span *ngFor="let speedInstance of speeds">
        <label style="height: 10px;"
                          mode="determinate">{{speedInstance}}</label>
      <br>
      </span>
    </div>
  </div>
</div>
